.header {
    background-color: rgb(8, 59, 106);
    font-size: 32px;
    color: rgb(218, 199, 199);
    text-align: center;
    padding: 10px
}

.main {
    background-color: rgb(222, 218, 218);
    padding: 25px 0;
}

.game-area {
    background-color: rgb(222, 218, 218);
    border: 4px solid black;
    display: flex;
    flex-flow: wrap;
    width: 612px;
    height: 600px;
    margin: auto;
    justify-content: center;

}
.ttt-box {
    border: 2px solid black;
    width: 200px;
    height: auto;
    background-color: rgb(135, 199, 219);
}

.ttt-box:hover {
    background-color: rgb(114, 174, 193);
}